@model CVGenerator.ViewModels.CVViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV generator</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <h1>CV GENERATOR</h1>
    <form asp-controller="Home" asp-action="MyCV">
        <div class="section-input">
            <label class="form-text">Enter full name</label>
            <input asp-for="Name" type="text" class="input-field">
        </div>

        <div class="section-input">
            <label class="form-text">Email</label>
            <input type="email" class="input-field">
        </div>

        <div class="section-input">
            <label class="form-text">Birth date</label>
            <input type="date" class="input-field">
        </div>

        <div class="section-input">
            <label class="form-text">Previous job position</label>
            <input type="text" class="input-field">
        </div>

        <div class="section-input">
            <button type="submit" class="button">Sign up</button>
            
        </div>
    </form>
    

</body>

</html>