body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.form-text {
    font-size: 20px;
    font-weight: bold;
    color: darkgrey;
    padding: 10px;
}

.button {
    width: 100px;
    height: 40px;
    background-color: darkgrey;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: lightgray;
    font-size: 18px;
    line-height: 25.6px;
    letter-spacing: 0.36px;
}

.section-input {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    max-width: 30%;
}

h1 {
    font-weight: 900;
    color: darkgrey;
    font-size: 23px;
    padding-left: 30px;
}

.input-field {
    width: 50%;
}
